@charset "utf-8";
/* CSS Document */

$primaryColor: rgb(97, 186, 210);

$secondaryColor: #454545;


@import 'CSSfiles/gradientMixin';	/* looks for a file call gradient.scss */


.applyGradient { @include verticalGradient($primaryColor, $secondaryColor) }

.scssDisplay	{
	color:white;
	font-size:24px;	
}