$grey: #7e868d;
$accentColor: #265580;

* {
  margin: 0;
  padding: 0;
  font-family: 'Spectral SC', serif;
}

header {
  text-align: center;
  h1 {
    font-size: 48px;
    color: $grey;
  }
}

p {
  font-size: 20px;
  text-align: center;
}

a {
  color: $accentColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.coffee {
  width: 95%;
  height: auto;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  box-shadow: 10px 5px 10px $grey;
}

.product {
  display: inline-block;
  width: 33%;
  margin: 0 auto 5%;
  h2, p {
    text-align: center;
  }
}

.allProducts {
  width: 90%;
  margin: 0 auto;
}