* {
  margin: 0;
  padding: 0;
  font-family: 'Spectral SC', serif;
}

header {
  text-align: center;
  h1 {
    font-size: 48px;
  }
}

p {
  font-size: 20px;
}

.coffee {
  width: 95%;
  height: auto;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  box-shadow: 10px 5px 10px #888888;
}

.product {
  display: inline-block;
  width: 30%;
  margin: 0 auto 5%;
  h2, p {
    text-align: center;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.allProducts {
  width: 90%;
  margin: 0 auto;
}