* {
  padding: 0;
  margin: 0;
  color: white; }

body {
  font-family: Roboto, sans-serif;
  background: url("images/valeri-randalainen-245047.jpg") no-repeat fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay; }

.main {
  width: 80%;
  margin: 0 auto; }

a {
  color: #2aced3; }

h2, h5 {
  text-align: center;
  display: block;
  color: #fffc00; }

h3 {
  color: #2aced3; }

nav ul li {
  display: inline;
  padding: 0 5%;
  font-size: 28px; }
  nav ul li a:hover {
    color: #fffc00;
    text-decoration: none; }

ul li {
  list-style-type: none; }

.hours, dd {
  padding: 0;
  line-height: 75%; }

.LH100 {
  line-height: 100%; }

.standout {
  height: 75%;
  margin: 10% auto;
  text-align: center; }
  .standout h2 {
    padding: 4px;
    margin: 5px auto;
    width: 70%;
    font-size: 42px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    -o-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate; }
  .standout p {
    margin: 0 auto;
    width: 90%;
    font-size: 18px; }

.shake-animation {
  -webkit-animation: shake 10s infinite;
  -moz-animation: shake 10s infinite;
  -o-animation: shake 10s infinite;
  animation: shake 10s infinite; }

.shake {
  -webkit-animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }
@keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }
@-webkit-keyframes blink {
  0% {
    border: 1px solid #484848;
    -webkit-box-shadow: 2px 2px 0px #484848;
    -moz-box-shadow: 2px 2px 0px #484848;
    box-shadow: 2px 2px 0px #484848; }
  100% {
    border: 1px solid #fffc00;
    -webkit-box-shadow: 3px 4px 2px #2aced3;
    -moz-box-shadow: 3px 4px 2px #2aced3;
    box-shadow: 3px 4px 2px #2aced3; } }
@keyframes blink {
  0% {
    border: 1px solid #484848;
    -webkit-box-shadow: 2px 2px 0px #484848;
    -moz-box-shadow: 2px 2px 0px #484848;
    box-shadow: 2px 2px 0px #484848; }
  100% {
    border: 1px solid #fffc00;
    -webkit-box-shadow: 3px 4px 2px #2aced3;
    -moz-box-shadow: 3px 4px 2px #2aced3;
    box-shadow: 3px 4px 2px #2aced3; } }
@media only screen and (max-width: 600px) {
  nav ul li {
    display: block;
    padding: 0;
    text-align: center; } }

/*# sourceMappingURL=coffee.css.map */
