* {
    margin: 0;
    padding: 0;
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.9);
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    background: url("siteimages/subtle_dots.png") repeat right top;
}

body {
    background: url("siteimages/subtle_dots.png") repeat right top;
    overflow: scroll;
    display: block;
}

.banner {
    background: url("siteimages/subtle_dots.png") repeat right top;
    width: 100%;
    height: 95px;
    font-size: 85px;
    color: rgb(0, 0, 0);
    border-top: 5px solid rgb(255, 0, 169);
    position: fixed;
    bottom: 0;
    display: block;
    z-index: 999;
    text-align: center;
}

.banner:hover {
    color: rgb(255, 0, 169);
}

li, p {
    padding-left: 5px;
    line-height: 180%;
}

a:hover {
    color: rgb(255, 0, 169);
}


.main {
    padding-top: 25px;
    padding-bottom: 150px;
    background: url("siteimages/subtle_dots.png") repeat right top;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;

}

ul li {
    list-style-type: none;
}

.contact {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.contact:hover {
    color: rgb(255, 0, 169);
}

a {
    font-family: Roboto, sans-serif;
    font-size: 35px;
    line-height: 110%;
    font-weight: bold;
    display: inline-block;
    width: fit-content;
    color: rgb(0, 0, 0);
    padding-left: 25px;
    text-align: center;


}

/*#here {*/
    /*color: rgb(255, 0, 169);*/
/*}*/

nav a{
    padding-bottom: 25px;
}