* {
    margin: 0;
    padding: 0;
    /*border: black solid 1px;*/
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.9);
    font-family: Roboto, sans-serif;
    font-size: 75px;
    font-weight: bold;
    line-height: 120%;
    text-decoration: none;
}

body {
    background: url("siteimages/subtle_dots.png");
    overflow: scroll;
    display: block;
}

a {
    padding-left: 15px;
    display: block;
    width: fit-content;

}

.main {
    padding-bottom: 100px;
}

.banner {
    background: url("siteimages/subtle_dots.png");
    width: 100%;
    font-size: 85px;
    color: rgb(255, 0, 169);
    color: rgba(255, 0, 169, 0.8);
    border-top: 5px solid rgb(255, 0, 169);
    border-top: 5px solid rgba(255, 0, 169, 0.9);
    position: fixed;
    bottom: 0px;
    display: block;
}

.banner:hover {
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.9);
}

.about:hover {
    color: rgb(255, 131, 0);
    color: rgba(255, 131, 0, 0.9);
}

.resume:hover {
    color: rgb(255, 221, 0);
    color: rgba(255, 221, 0, 0.9);
}

.contact:hover {
    color: rgb(0, 142, 35);
    color: rgba(0, 142, 35, 0.9);
}

.hw:hover {
    color: rgb(0, 66, 167);
    color: rgba(0, 66, 167, 0.9);
}

.final:hover {
    color: rgb(111, 2, 158);
    color: rgba(111, 2, 158, 0.9);
}

