* {
    margin: 0;
    padding: 0;
    /*border: black solid 1px;*/
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.9);
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: bold;
    line-height: 120%;
    text-decoration: none;
}

body {
    background: url("siteimages/subtle_dots.png");
    /*overflow: scroll;*/
    /*display: block;*/
}

a {
    /*display: block;*/
    width: fit-content;
    color: rgb(0, 0, 0);

}

a:hover {
    color: rgb(255, 0, 169);
}

.item {
    padding: 5px !important;
}
.ui.secondary.vertical.pointing.menu {
    width: fit-content;
}