* {
    margin: 0;
    padding: 0;
    /*border: black solid 1px;*/
    font-family: Raleway, sans-serif;
}

body {
    background-color: blanchedalmond;
    /*background-image: url("background.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
}

h3 {
    color: #3a1917;
    font-size: 80px;
    font-weight: 100;
    font-family: Sacramento, cursive;
    text-align: left;
    padding-left: 50px;
}

h5 {
    color: #893430;
    font-size: 25px;
    font-family: "Cherry Swash", cursive;
    text-align: left;
    height: auto;
    width: 200px;
    padding: 25px 110px 0px 110px;
    /*background-color: lightcyan;*/
}

a {
    color: #893430;
    padding-left: 105px;
}
/*.link {*/
    /*color: grey;*/
    /*padding-left: 25px;*/

/*}*/