* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blanchedalmond;
    color: rgb(58, 25, 23);
}

h5 {
    color: rgb(122, 58, 55);
    font-size: 24px;
    padding-left: 25px;
}

a {
    color: rgb(122, 58, 55);
    padding-left: 25px;
}