* {
    margin: 0px;
    padding: 0px;
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.9);
    font-family: Roboto, sans-serif;
    font-size: 65px;
    font-weight: bold;
    text-decoration: none;
}

body {
    background: url("../siteimages/subtle_dots.png");
    overflow: scroll;
    display: block;
}

.banner {
    background: url("../siteimages/subtle_dots.png");
    width: 100%;
    font-size: 85px;
    color: rgb(0, 142, 35);
    color: rgba(0, 142, 35, 0.9);
    border-top: 5px solid rgb(0, 142, 35);
    border-top: 5px solid rgba(0, 142, 35, 0.9);
    position: fixed;
    bottom: 0px;
    display: block;
}

.banner:hover {
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.9);
}

a, .tutorial {
    padding-left: 15px;
}

a.link {
    display: block;
    font-size: 30px;
    padding-left: 50px;
    line-height: 110%;
}

.link:hover {
    color: rgb(0, 142, 35);
    color: rgba(0, 142, 35, 0.9);
}

.main {
    padding-bottom: 100px;
}

a.tutorial:hover {
    color: rgb(0, 142, 35);
    color: rgba(0, 142, 35, 0.9);
}

.home.icon {
    color: rgb(0, 0, 0);
}