* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blanchedalmond;
    color: #3a1917;
}

h5 {
    color: #893430;
    font-size: 24px;
    padding-left: 25px;
}

a {
    color: #893430;
    padding-left: 25px;
}