* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background: url(../../homework/LabProject/Images/owen-williams-89776.jpg) no-repeat fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;

}


h1, h2, h3 {
  text-align: center;
  color: white;
  font-weight: 300;
}


