$blue: #6bbad2;
$pink: #f5bfc5;

* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background: url(../../wdv101/LabProject/Images/owen-williams-89776.jpg) no-repeat fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: overlay;

}
nav {
  margin-bottom: 10px;
  ul {
    li {
      a{
        color: $blue !important;
      }
    }
  }
}
a {
  color: $blue;
  &:hover {
    color: $pink;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

h1, h2, h3 {
  text-align: center;
  color: $pink;
  font-family: "Zilla Slab", serif;
  font-weight: 300;
}

h4 {
  color: $pink;
}

.special {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3%;
  text-align: center;
  font-family: "Zilla Slab", serif;
  font-size: 22px;
  color: $pink;
}

figcaption {
  text-align: center;
}

footer {
  border-top: 2px solid $pink;
}

