* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-image: url("images/Logomakr_5Ih2qv.png");
    background-attachment: fixed;
}

header {
    position: relative;
    top: 0;
    left: auto;
}

img {
    padding-top: 5px;
    display: block;
    margin: 0 auto;
   }

h1 {
    font-size: 40px;
    font-family: Megrim, sans-serif;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 25px;
}

li {
    display: inline;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    /*font-weight: bold;*/
    padding: 2px 15px;
}

p {
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    /*padding-top: 15px;*/
}

footer {
    position: fixed;
    bottom: 0;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}


footer p {
    font-size: 16px;
    color: rgb(9, 133, 56);
    /*line-height: 80%;*/
}

.credit {
    font-size: 12px;
    font-weight: lighter;
}

a.credit {
    color: inherit;
}

.overlay {
    position: fixed;
    top: 0;
    left: 12.5%;
    z-index: -1;
    width: 75%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    /*overflow: hidden;*/
}

.container {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 12.5%;*/
    margin: 0 auto;
    width: 75%;
    /*height: 100%;*/
    /*background-color: rgba(255, 255, 255, 0.95);*/
    /*overflow: hidden;*/
}

.main {
    overflow: hidden;
    height: 100%;
    margin-bottom: 10%;
    padding: 0 25px;
}

.left {
    width: 70%;
    float: left;
    text-align: center;
}

.right {
    float: right;
    width: 29%;
    text-align: center;
}

.clear {
    clear: both;
}