/*
Jasmine Francois
02-07-17
 */

body {
    font-family: Verdana, sans-serif;
    background-color: #c0e59b;
}

h1 {
    text-align: center;
}

h2 {
    color: navy;
}

h3 {
    color: navy;
    font-weight: bold;
}

p {
    text-indent: 5em;
    line-height: 1.5em;
}

h4 {
    text-transform: uppercase;
    font-style: italic;
    color: maroon;
}