/*remove elements*/
header {
    display:none;
}

footer {
    display:none;
}

nav {
    display: none;
}

/*set paper */
@page{
    size:portrait;
    margin:.5in;
}

/*format page for printing*/
body {
    color: black;
    background-color: white;
    background-image:none;
    font-size:12pt;
    font-family: "Times New Roman",Times, serif;
}

/*set links back to default*/
a{
    text-decoration:underline;
    color:blue;
}

.left {
    width: 100%;
    clear: both;
}

.right {
    width: 100%;
    clear: both;
}

.clear {
    display: none;
}
