@import '../../wdv205/main';

* {
    padding: 0;
    margin: 0;
}

$blue: rgb(97, 186, 210);
$pink: rgb(245, 191, 197);
$green: rgb(123, 204, 46);

body {
    background: url("Images/owen-williams-89776.jpg") no-repeat fixed;
    background-size: cover;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
}

.main {
    width: 75%;
    margin: 0 auto;
}


nav {
    text-align: center;

    li {
        display: inline;
        text-align: center;

        a {
            /*font-weight: lighter;*/
            color: $pink;
            text-decoration: none;
            padding-left: 5px;
            padding-right: 5px;
        }

        a:hover {
            color: $blue;
            text-decoration: underline;
        }
    }
}

h1 {
    color: $green;
    text-align: center;
    text-shadow: 2px 2px black;
}

h2 {
    font-size: 36px;
    padding: 5px;
    color: $pink;
    text-shadow: 1px 1px black;
    //font-weight: lighter;
}

h4 {
    font-weight: lighter;
}

h5 {
    font-size: 24px;
    font-weight: lighter;
}

.center {
    text-align: center;
    color: white;
}

p.center {
    color: white;
}

footer {
    text-align: center;
    font-size: 16px;
}

footer h2 {
    color: $green;
}


li {
    list-style-type: square;
}

#top a {
    text-align: center;
}

a {
    color: $blue;
    text-decoration: none;
}

a:hover {
    color: $green;
    text-decoration: underline;
}

.applyGradient {
    color: white;
}

.applyGradient:hover {
    text-decoration: underline;
    color: white;
    opacity: 0.6;
}

.flex-container {
    display: -webkit-inline-flex; /*Safari*/
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    //align-content: center;
}


.flex1 {
    width: 55%;
    align-items: center;
}


.flex3{
    padding: 5px;
    width: 40%;
}



@keyframes slide {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slide {
    -webkit-animation: slide 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

