$payPalGold: #f7c557;

* {
  padding: 0;
  margin: 0;
  font-size: 24px;
}

body {
  background-image: url(https://images.unsplash.com/photo-1471048235348-691b6a5faf4a?w=2700&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.main {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  border-right: solid 2px $payPalGold;
  border-left: solid 2px $payPalGold;
}

img {
  border-radius: 100%;
  width: 400px;
  height: auto;
  border: double 5px $payPalGold;
}

p {
  font-family: 'Josefin Slab', serif;
}

.price {
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 2px 2px $payPalGold;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  text-shadow: 2px 2px $payPalGold;
}

