* {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: 'Bungee Hairline', cursive;
  overflow: hidden; }

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.content {
  height: 60vh;
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background: #5020ad;
  background: linear-gradient(-8deg, #5020ad 14%, #f60024 55%, #ff7676 84%);
  box-shadow: #999999 0 3px 20px; }
  .content .name {
    flex: 1;
    flex-direction: column; }
    .content .name h1 {
      font-size: 96px;
      font-family: 'Bungee Shade', cursive;
      padding: 10px;
      text-shadow: -2px 1px 8px #7a7a7a; }
    .content .name h2 {
      font-size: 84px;
      text-shadow: -1px 1px 0 #ccc, -2px 2px 0 #ccc, -3px 3px 0 #ccc, -4px 4px 0 #ccc, -5px 5px 5px #7a7a7a, -10px 15px 15px rgba(0, 0, 0, 0.3); }
  .content .links {
    flex: 1;
    flex-direction: column;
    justify-content: center; }
    .content .links .icons {
      flex: 1;
      flex-direction: row; }
      .content .links .icons h3 {
        display: inline-flex;
        flex: 1;
        font-size: 84px; }
        .content .links .icons h3 i {
          padding: 20px; }
    .content .links .resume {
      flex: 1; }
      .content .links .resume h3 {
        font-size: 64px; }
        .content .links .resume h3 a {
          text-decoration: none; }

.focus {
  -webkit-animation: focus-onload 1s linear both;
  animation: focus-onload 1s linear both; }

.hover-shadow {
  -webkit-animation: hide-shadow 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: hide-shadow 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.hover-shadow:hover {
  -webkit-animation: show-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: show-shadow 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.hidden {
  -webkit-animation: hideAboutBlurb 0.25s linear both;
  animation: hideAboutBlurb 0.25s linear both; }

.hidden:hover {
  -webkit-animation: showAboutBlurb 0.25s linear both;
  animation: showAboutBlurb 0.25s linear both; }

@-webkit-keyframes hideAboutBlurb {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes hideAboutBlurb {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes showAboutBlurb {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes showAboutBlurb {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes focus-onload {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@keyframes focus-onload {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
@-webkit-keyframes show-shadow {
  0% {
    text-shadow: -2px 1px 8px #7a7a7a; }
  100% {
    text-shadow: -1px 1px 0 #ccc, -2px 2px 0 #ccc, -3px 3px 0 #ccc, -4px 4px 0 #ccc, -10px 15px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(3px) translateY(-2px); } }
@keyframes show-shadow {
  0% {
    text-shadow: -2px 1px 8px #7a7a7a; }
  100% {
    text-shadow: -1px 1px 0 #ccc, -2px 2px 0 #ccc, -3px 3px 0 #ccc, -4px 4px 0 #ccc, -10px 15px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(3px) translateY(-2px); } }
@-webkit-keyframes hide-shadow {
  0% {
    text-shadow: -1px 1px 0 #ccc, -2px 2px 0 #ccc, -3px 3px 0 #ccc, -4px 4px 0 #ccc, -10px 15px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(3px) translateY(-2px); }
  100% {
    text-shadow: -2px 1px 8px #7a7a7a; } }
@keyframes hide-shadow {
  0% {
    text-shadow: -1px 1px 0 #ccc, -2px 2px 0 #ccc, -3px 3px 0 #ccc, -4px 4px 0 #ccc, -10px 15px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(3px) translateY(-2px); }
  100% {
    text-shadow: -2px 1px 8px #7a7a7a; } }

/*# sourceMappingURL=index.css.map */
