* {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Bungee Hairline', cursive;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .name {
    flex: 1;
    flex-direction: column;

    h1 {
      font-size: 6em;
      font-family: 'Bungee Shade', cursive;
      padding: 10px;
      text-shadow: 2px 1px 15px rgb(195, 199, 217);
      background: linear-gradient(-170deg, rgba(188, 199, 221, 1) 13%, rgb(158, 180, 211) 32%, rgba(211, 153, 141, 1) 43%, rgba(255, 138, 138, 1) 58%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h2 {
      font-size: 6em;
      background: linear-gradient(7deg, rgba(188, 199, 221, 1) 13%, rgb(158, 180, 211) 37%, rgba(211, 153, 141, 1) 63%, rgba(255, 138, 138, 1) 88%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.links {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: #bbbbbb 0 -3px 25px;
  background: rgb(188, 199, 221);
  background: linear-gradient(7deg, rgba(188, 199, 221, 1) 13%, rgb(158, 180, 211) 52%, rgba(211, 153, 141, 1) 78%, rgba(255, 138, 138, 1) 90%);

  .icons {
    flex-direction: row;

    h3 {
      display: inline-flex;

      a {
        align-items: center;
        justify-content: center;

        i {
          padding: 20px;
          color: rgb(255, 255, 255);
          font-size: 5em;
        }
      }
    }
  }

  .resume {
    h3 {
      a {
        text-decoration: none;
        font-size: 4em;
      }
    }
  }
}

.focus {
  -webkit-animation: focus-onload 1s linear both;
  animation: focus-onload 1s linear both;
}

.hover-shadow {
  -webkit-animation: hide-shadow 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: hide-shadow 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hover-shadow:hover {
  -webkit-animation: show-shadow 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: show-shadow 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hidden {
  -webkit-animation: hideAboutBlurb 0.25s linear both;
  animation: hideAboutBlurb 0.25s linear both;
}

.hidden:hover {
  -webkit-animation: showAboutBlurb 0.25s linear both;
  animation: showAboutBlurb 0.25s linear both;
}

@-webkit-keyframes hideAboutBlurb {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideAboutBlurb {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showAboutBlurb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showAboutBlurb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes focus-onload {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-onload {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes show-shadow {
  0% {
    text-shadow: -2px 1px 8px #7a7a7a;
  }
  100% {
    text-shadow: -1px 1px 0 #ccc, -2px 2px 0 #ccc, -3px 3px 0 #ccc, -4px 4px 0 #ccc, -10px 15px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(3px) translateY(-2px);
  }
}

@keyframes show-shadow {
  0% {
    text-shadow: -2px 1px 8px #7a7a7a;
  }
  100% {
    text-shadow: -1px 1px 0 #ccc, -2px 2px 0 #ccc, -3px 3px 0 #ccc, -4px 4px 0 #ccc, -10px 15px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(3px) translateY(-2px);
  }
}

@-webkit-keyframes hide-shadow {
  0% {
    text-shadow: -1px 1px 0 #ccc, -2px 2px 0 #ccc, -3px 3px 0 #ccc, -4px 4px 0 #ccc, -10px 15px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(3px) translateY(-2px);
  }
  100% {
    text-shadow: -2px 1px 8px #7a7a7a;
  }
}

@keyframes hide-shadow {
  0% {
    text-shadow: -1px 1px 0 #ccc, -2px 2px 0 #ccc, -3px 3px 0 #ccc, -4px 4px 0 #ccc, -10px 15px 15px rgba(0, 0, 0, 0.3);
    transform: translateX(3px) translateY(-2px);
  }
  100% {
    text-shadow: -2px 1px 8px #7a7a7a;

  }
}
