* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
}

.teaching {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 32px;
  color: black;
  font-family: 'Bungee', cursive;

  p {
    margin: 15px 50px 50px;
    font-family: 'Bungee Hairline', cursive;
  }

  a {
    color: rgb(247, 79, 68);
    font-family: 'Bungee', cursive;

    &:hover {
      color: rgb(47, 34, 110)
    }
  }
}

.dev-environment {
  color: black;
  font-size: 1.2em;
  width: 80%;
  margin: 1em auto;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee', cursive;
  }

  h3 {
    padding-top: 1.5em;
  }

  ul {
    list-style-type: none;
  }

  p {
    font-size: 1em;
    margin: 15px 0;
    font-family: 'Roboto', sans-serif;
  }

  a {
    color: rgb(247, 79, 68);
    font-family: 'Bungee', cursive;

    &:hover {
      color: rgb(47, 34, 110)
    }
  }

  .code {
    background-color: #f5eae5;
    font-family: "Courier New", serif;
  }
}
