@mixin transform2($transform0, $transform1) {
  -moz-transform: $transform0 $transform1;
  -o-transform: $transform0 $transform1;
  -ms-transform: $transform0 $transform1;
  -webkit-transform: $transform0 $transform1;
  transform: $transform0 $transform1;
}

@mixin transform1($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin display() {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

* {
  padding: 0;
  margin: 0;
}

.main {
  width: 75%;
  margin: 0 auto 20px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

a {
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 31, 73);
}

a:last-of-type {
  border-bottom: 2px black ridge;
}

p {
  margin: 10px 0;
}

.twoD {
  transition: transform 4s;
  transition-timing-function: ease-in-out;
}

.twoD:hover {
  @include transform2(rotate(1080deg), scale(0.5));
  //@include transform(matrix(0.5, 0, 0, 0.5, 50, 0));
}


.contain3D {
  @include transform1(perspective(400px));

  p {
    font-size: 36px;
    text-align: center;
    padding-top: 25px;
  }
}

.threeD {
  transition: transform 4s;
}

.threeD:hover {
  @include transform1(rotate3d(80, 120, 80, 760deg));

}

.flexbox {
  @include display();
}

.flex1 {
  width: 55%;
  padding-right: 25px;
}

.flex2 {
  width: 40%;
  padding: 5px;
  border: 2px black ridge;

  p {
    font-size: 36px;
    text-align: center;
  }
}